*~
*.hi
*.o
.ghc.environment.*
.cabal-sandbox
cabal.sandbox.config
dist
dist-newstyle
bufia
*.out
*sandbox
*.dyn_hi
*.dyn_o
cpp/bufia
cpp/bufia_omp
cpp/Makefile
cpp/*test*
*.log
*.map
*.slurm
cpp/bufia_mpi
*.html
*/old/*
*_eval_illicit.txt
*_eval_licit.txt
*old*
*__pycache__*
