*~
*.hi
*.o
.ghc.environment.*
.cabal-sandbox
cabal.sandbox.config
dist
dist-newstyle
bufia
*.out
*sandbox
*test*
*.dyn_hi
*.dyn_o
cpp/bufia
cpp/bufia_omp
cpp/Makefile
*.log
*.map
*.slurm
cpp/bufia_mpi
