*~
*.hi
*.o
.ghc.environment.*
.cabal-sandbox
cabal.sandbox.config
dist
dist-newstyle
eval
inspect
bufia
*.out
*sandbox
*.dyn_hi
*.dyn_o
cpp/bufia
cpp/bufia_omp
cpp/Makefile
cpp/mpi_test
cpp/test
*.log
*.map
*.slurm
cpp/bufia_mpi
*.html
evals/
example/
maxent/
counts/
*_eval_illicit.txt
*_eval_licit.txt
*__pycache__*
*WilsonGallagher2018_crossValidationFolds*
old/
